*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* enabling Dark Mode as standard: */
    color: #E4E6EB;
    background-color: #181A1B;
}

/* Start of the nav bar section */
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.nav-section{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title a{
    color: white;
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: #CED8D6;
}
.nav-links a{
    display: inline;
    text-decoration: none;
    color: #CED8D6;
}
li{
    display: inline;
    margin-right: 1em;
}
li a:hover{
    color: white;
}
nav{
    background-color: #343A40;
}
/* End of the nav bar section */

/* Start of main section */
.title-text{
    text-align: center;
    padding: 5em;
}


.explanation{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    border-width: 1px;
    border-style: solid;
    border-color: greenyellow;
}

@media only screen and (min-width: 700px) {
    .explanation{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 90%;
        border-width: 1px;
        border-style: solid;
        border-color: greenyellow;
    }
}
.explanation h2{
    padding: 1em;
    width: 15em;
    text-align: center;
}
.explanation p{
    justify-content: flex-end;
}
.text-box{
    margin: 1em;
}

/* End of main section */

/* start of project section */


.showcase{
    display: grid;
    grid-template-columns: auto;
    column-fill: auto;
    column-gap: 2%;
    row-gap: 2%;
    justify-content: space-evenly;
    width: 80%;
}

.showcase-item{
    border-width: 1px;
    border-style: solid;
    border-color: greenyellow;
    border-radius: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.showcase-item img{
    height: 300px;
    width: 300px;
}
.showcase-item title{
    display: flex;
    font-weight: bold;
    font-size: large;
}
.button {
    color: #52525E;
}
.showcase-item button a{
    text-decoration: none;
}

main{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

@media only screen and (min-width: 700px) {
    .showcase{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-fill: auto;
        column-gap: 2%;
        justify-content: space-evenly;
        width: 80%;
    }
}

@media only screen and (min-width: 900px) {
    .showcase{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-fill: auto;
        column-gap: 2%;
        justify-content: space-evenly;
        width: 80%;
    }
}

/* end of project section */