*{
    padding: 0;
    margin: 0;
}

/* Start of the nav bar section */
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.nav-section{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title a{
    color: white;
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: #CED8D6;
}
.nav-links a{
    display: inline;
    text-decoration: none;
    color: #CED8D6;
}
li{
    display: inline;
    margin-right: 1em;
}
li a:hover{
    color: white;
}
nav{
    background-color: #343A40;
}
/* End of the nav bar section */

/* Start of main section */
.title-text{
    text-align: center;
    padding: 5em;
}
.explanation{
    display: flex;
    align-items: center;
    width: 90%;
    border-width: 1px;
    border-style: solid;
    border-color: greenyellow;
}
.explanation h2{
    padding: 2em;
    width: 15em;
}
.explanation p{
    justify-content: flex-end;
}
.text-box{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

/* End of main section */

/* start of project section */


.showcase{
    display: grid;
    grid-template-columns: auto auto;
    column-fill: auto;
    justify-content: space-evenly;
    width: 80%;
}

.showcase-item{
    border-width: 1px;
    border-style: solid;
    border-color: greenyellow;
    border-radius: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.showcase-item img{
    height: 15rem;
    width: 15rem;
}
.showcase-item title{
    display: flex;
    font-weight: bold;
    font-size: large;
}
.showcase-item button a{
    color: black;
    text-decoration: none;
}

main{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    .showcase{
        display: grid;
        grid-template-columns: auto;
        column-fill: auto;
        column-gap: 2%;
        justify-content: space-evenly;
        width: 80%;
    }
}

/* end of project section */